<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout-admin.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/static/css/sb-admin-2.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Tables</h1>
        <div class="row">
            <form th:action="@{/admin/product}" th:object="${product}" method="post">
                <div>
                    <label for="name">Name</label>
                    <input type="text" th:field="${product.name}" id="name" placeholder="Name">
                </div>
                <div>
                    <label for="price">Price</label>
                    <input type="text" th:field="${product.price}" id="price">
                </div>
                <div>
                    <label for="thumbnail">Thumbnail</label>
                    <input type="text" th:field="${product.thumbnail}" id="thumbnail" placeholder="Thumbnail">
                </div>
                <div>
                    <label for="description">Description</label>
                    <input type="text" th:field="${product.description}" id="description" placeholder="Description">
                </div>
                <div>
                    <input type="submit" value="Save">
                    <input type="reset" value="Reset">
                </div>
            </form>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
</body>
</html>