<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout-admin.html}">
<head>
    <meta charset="UTF-8">
    <title>List Product</title>
</head>
<body>s
<div layout:fragment="content">
    <div class="container-fluid">

        <h1 class="h3 mb-2 text-gray-800">List products</h1>
        <p class="mb-4"><a th:href="@{/admin/product/create}">Create new product</a></p>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Data</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Thumbnail</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product: ${products}">
                            <td th:text="${product.id}"></td>
                            <td th:text="${product.name}"></td>
                            <td th:text="${product.price}"></td>
                            <td th:text="${product.thumbnail}"></td>
                            <td th:text="${product.description}"></td>
                            <td><a th:href="@{/admin/product/edit/{id}(id=${product.id})}">Edit</a> |
                                <a th:href="@{/admin/product/{id}(id=${product.id})}">Detail</a> |
                                <a onclick="return confirm('Do you want to delete this product?')" th:href="@{/admin/product/delete/{id}(id=${product.id})}">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
</body>
</html>